*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #D295BF;
    text-align: center;
}
.container{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #29274C;
    background-color: #E6BCCD;
}
#resetBtn{
    padding: 1rem;
    font-size: 85%;
    background-color: #7E52A0;
    color: #fff;
    border-radius: 1rem;
}
#newGameBtn{
    padding: 1rem;
    font-size: 85%;
    background-color: #7E52A0;
    color: #fff;
    border-radius: 1rem;
}
#winningMsg{
    color: #828A95;
    font-size: 5vmin;
}
.wining-msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hide{
    display: none;
}
.colorO{
    color: #C44900;
}
.colorX{
    color: #432534;
}